Repository CSC510-Group-25/ClassMateBot, pull requests merged in 2021-11, with the labels that each got.

#42 Added questions table to init.sql; fixes failing test cases
  init.sql
Labels: bug, test, repository

#41 group25 badging
  CITATION.md
  README.md
Labels: documentation, repository

#43 Added pull request template
  .github/pull_request_template.md
Labels: documentation, repository

#44 Added .coveragerc to control coverage report, updated pylint config file, workflow edits
  .coveragerc
  .github/workflows/main.yml
  .github/workflows/pytest.yml
  .pylintrc
Labels: documentation, repository

#45 Fixed broken Pylint README badge
  README.md
Labels: documentation, repository

#60 [Fix] Added answers table to init.sql
  init.sql
Labels: deployment, database, bugfix

#94 Added missing error handlers and doc comments to cogs
  cogs/deadline.py
  cogs/groups.py
  cogs/newComer.py
  cogs/ping.py
  cogs/pinning.py
  cogs/voting.py
Labels: documentation, cog

#82 Q&A Commands
  .pylintrc
  cogs/qanda.py
  init.sql
  test/test_bot.py
Labels: enhancement, cog, command, bugfix

#98 Profanity filter update: toggle filter, basic whitelisting commands
  .coveragerc
  bot.py
  cogs/wordfilter.py
  default_whitelist.txt
  profanity_files/custom_words.txt
  profanity_files/whitelist.txt
  profanity_helper.py
Labels: enhancement, command, bugfix, bot

#106 [Fix] censoring bugs in bot.py and Q&A commands
  bot.py
  cogs/qanda.py
Labels: cog, bugfix, bot

#116 [Fix] polling.py refactor
  cogs/polling.py
Labels: needs testing, cog, command, bugfix

#112 Command docs
  data/proj3media/allChannelGhosts/acg1.png
  data/proj3media/allChannelGhosts/acg2.png
  data/proj3media/archiveQA/archive1.png
  data/proj3media/archiveQA/archive2.png
  data/proj3media/channelGhost/channelghost1.png
  data/proj3media/channelGhost/channelghost2.png
  data/proj3media/channelGhost/channelghost3.png
  data/proj3media/cmbotsecrets.png
  data/proj3media/dallaf/dallaf1.png
  data/proj3media/dallaf/dallaf2.png
  data/proj3media/dallaf/dallaf3.png
  data/proj3media/deleteAllQA/deleteall1.png
  data/proj3media/deleteAllQA/deleteall2.png
  data/proj3media/deleteAllQA/deleteall3.png
  data/proj3media/deleteQuestion/deleteq1.png
  data/proj3media/deleteQuestion/deleteq2.png
  data/proj3media/deleteQuestion/deleteq3.png
  data/proj3media/getAnswersFor/answersfor1.png
  data/proj3media/getAnswersFor/answersfor2.png
  data/proj3media/polling/poll1.png
  data/proj3media/polling/poll2.png
  data/proj3media/polling/quizpoll1.png
  data/proj3media/polling/quizpoll2.png
  data/proj3media/profanity/filterdemo1.png
  data/proj3media/profanity/filterdemo2.png
  data/proj3media/profanity/filterdemo3.png
  data/proj3media/profanity/toggle1.png
  data/proj3media/profanity/toggle2.png
  data/proj3media/profanity/vodka.png
  data/proj3media/reviveghost/reviveghost1.png
  data/proj3media/reviveghost/reviveghost1b.png
  data/proj3media/reviveghost/reviveghost1c.png
  data/proj3media/reviveghost/reviveghost2.png
  data/proj3media/spooky/spooky1.png
  data/proj3media/spooky/spooky2.png
  data/proj3media/unearthZombies/zombie1.png
  data/proj3media/unearthZombies/zombie2.png
  data/proj3media/unearthZombies/zombie3.png
  docs/Polling/poll.md
  docs/Polling/quizpoll.md
  docs/ProfanityFilter/dewhitelist.md
  docs/ProfanityFilter/togglefilter.md
  docs/ProfanityFilter/whitelist.md
  docs/Project3Changes.md
  docs/QandA/DALLAF.md
  docs/QandA/allChannelGhosts.md
  docs/QandA/answer.md
  docs/QandA/archiveQA.md
  docs/QandA/ask.md
  docs/QandA/channelGhost.md
  docs/QandA/deleteAllQA.md
  docs/QandA/deleteQuestion.md
  docs/QandA/getAnswersFor.md
  docs/QandA/reviveGhost.md
  docs/QandA/spooky.md
  docs/QandA/unearthZombies.md
  docs/installation.md
Labels: documentation, repository

#90 Added commands_doc_template.md
  docs/commands_doc_template.md
Labels: documentation, repository

#107 [New Cog] Polling Commands
  cogs/polling.py
  test/test_bot.py
Labels: enhancement, cog, command

#84 pinning tests
  test/test_bot.py
Labels: test, cog, command

#121 [Workflow] Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: repository

#125 Group25 deadline enhance
  bot.py
  cogs/deadline.py
  test/test_bot.py
Labels: enhancement, cog, command

#127 Deadline update
  bot.py
  cogs/deadline.py
  test/test_bot.py
Labels: enhancement, cog, command
